* {
    transition: background-color 1s;
}

body {
    height: 100vh;
    background-color: #d4d4d4;
    font-family: 'Montserrat';
}

body.dark-theme {
    background-color: #303030;
}

.card.dark-theme {
    background-color: black;
    color: #d4d4d4;
}

hr.dark-theme {
    opacity: 0.75;
}


/* Light/Dark Switch */
div.chkbox{
    padding-left:47.7%;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox-label .ball.checked {
    transform: translateX(24px);
}
/* End of Switch */


/* Table */
td{
    vertical-align: middle !important;
}







/* Tabs & Pill */
/* Tabs & Pill Margin */
.tab-content.main-tab{
    margin-top:20px;
}

.tab-content.side-tab{
    margin-left:10px;
}
/* End of Tabs & Pill Margin */

/* Tabs Design */
#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-weight: bold;
}

.nav-link, .nav-link:hover{
    color:#495057;
}

/* Dark Theme */
.nav-link.dark-theme, .nav-tabs .nav-link.active.dark-theme{
    color:white;
}
/* End */

/* Pill Design */
.nav-pills .nav-item .nav-link.active {
    background-color: #343a40;
    color: #f8f9fa;
    font-weight: bold;
}

/* Dark Theme */
.nav-pills .nav-item .nav-link.active.dark-theme {
    background-color: #f8f9fa;
    color: #343a40;
}
/* End */
/* End of Tabs & Pill */



/* Footer */
footer {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #333333;
    color: #fff;
}

footer.dark-theme{
    border-top:1px solid rgba(255, 255, 255, 0.6);
    background-color: black;
    color: white;
}

p.copyright {
    position: absolute;
    width: 100%;
    line-height: 50px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
    margin-bottom:0;
}


/* Button Light & Dark Mode */
@media only screen and (max-width: 1200px) {
    div.chkbox {
        padding-left: 47.2%;
    }
}
@media only screen and (max-width: 990px) {
    div.chkbox {
        padding-left: 46.5%;
    }
}
@media only screen and (max-width: 767px) {
    div.chkbox {
        padding-left: 44.5%;
    }
}
@media only screen and (max-width: 426px) {
    div.chkbox {
        padding-left: 42.5%;
    }
}
@media only screen and (max-width: 376px) {
    div.chkbox {
        padding-left: 41.5%;
    }
}
@media only screen and (max-width: 322px) {
    div.chkbox {
        padding-left: 40%;
    }
}